extends layout.pug

block content

  .content
  
    <nav class="navbar navbar-light bg-light navbar-expand-sm">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#{new URL('..', json.links[0].href)}">Home</a></li>
          <li class="breadcrumb-item"><a href="#{new URL('.', json.links[0].href)}">Collections</a></li>
          <li class="breadcrumb-item active">#{json.title}</li>
        </ol>
      </nav>
    </nav>

    <p>#{json.title}</p>

    <hr>

    <p>General:</p>
    <p>Kind: Folder</p>
